@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  h1 {
    @apply text-6xl font-bold;
  }
  h2 {
    @apply text-5xl font-semibold;
  }
  h3 {
    @apply text-4xl font-medium;
  }
  p {
    @apply text-[2.5rem] leading-[4rem];
  }
}
