@import "./fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  h1 {
    @apply text-6xl font-bold font-display;
  }
  h2 {
    @apply text-5xl font-semibold font-subheading;
  }
  h3 {
    @apply text-4xl font-medium font-subheading;
  }
  p {
    @apply text-[2.5rem] leading-[4rem] font-body;
  }
}
